@import "./config";

header {
    &.navbar {
        --#{$prefix}navbar-padding-y: .25rem;

        .nav-link {
            --#{$prefix}nav-link-padding-y: 0;
        }

        height: 3rem;

        .icon {
            height: 24px;
            width: auto;
        }
    }

    &.navbar-expand {
        .navbar-nav {
            .nav-link {
                --#{$prefix}navbar-nav-link-padding-x: .125rem;
            }
        }
    }
}

.main-wrapper {
    margin-top: 3rem;
}

.card-table {
    margin-bottom:0;

    > * > * > * {
        line-height: 1.25;
    }

    > :last-child > :last-child > * {
        border-width: 0;
    }
}

#modal-alert {
    --#{$prefix}modal-width: 400px;
}